.container-fluid, .jumbotron-fluid
{
    margin-top: 100px;
}


.tituloDeRegistro
{
	color: #111;
	font-size: 2.5em;
    font-weight: 300;
    text-align: center;
}

.tituloDeRegistro span
{
	color: #119281;
	font-weight: 700;
    font-size: 1em;
}

.tituloDeRegistro .vida
{
	color:  #119281;
	font-weight: 700;
    font-size: 1em;
}

.tituloDeRegistro .lab
{
	color:  rgb(223, 89, 0);
	font-weight: 700;
    font-size: 1em;
}

.dataTables_filter
{
    margin: 10px 0px 20px 0px;
}

#registros_length
{
    margin: 25px 0px 20px 0px;
}

thead input {
    width: 100%;
}

table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th
{
    color: black;
    background: #1192818a;
}

.dt-buttons .buttons-colvis, button.dt-button
{
    background-color:#007bff;
    border-color:#007bff;
    color:white;
    font-size: 0.9rem;
    font-weight: bold;
}

.buttons-colvis
{
    margin: 25px 0px 0px 0px;
    margin-left: 10px;
}

div.dt-button-collection button.dt-button:active:not(.disabled), div.dt-button-collection button.dt-button.active:not(.disabled), 
div.dt-button-collection div.dt-button:active:not(.disabled), div.dt-button-collection div.dt-button.active:not(.disabled), 
div.dt-button-collection a.dt-button:active:not(.disabled), div.dt-button-collection a.dt-button.active:not(.disabled)
{
    color: black;
}

.dt-buttons .buttons-excel
{
    background-color: green;
    border-color: green;
}  

.dt-buttons .buttons-pdf
{
    background-color: red;
    border-color: red;
} 

.buttons-colvis::hover
{
    color: black;
}

.dt-buttons .buttons-print
{
    background-color: rgb(0, 162, 255);
    border-color:  rgb(0, 162, 255);
}

.dt-buttons .buttons-csv
{
    background-color: rgb(120, 124, 126);
    border-color: rgb(120, 124, 126);
}

.dt-buttons .buttons-copy
{
    background-color: rgba(0, 174, 255, 0.377);
    border-color: rgb(0, 174, 255, 0.377);
}

.notificaciones
{
    opacity: .9;
    background-color: rgb(255, 255, 255);
}

.notificacionEspecifica
{
    background: url("../wallpapers/PaisajeFloral.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.notificacionMasiva
{
    background: url("../wallpapers/PaisajeBosqueAmanecer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.icon-file-excel, .icon-file-pdf, .icon-empty-file, .icon-printer, .icon-copy
{
    font-size: 1.3rem;
    color: white;
}

div.dt-button-collection button.dt-button
{
    border-radius:  4px;
}

