@import url("https://fonts.googleapis.com/css?family=Nunito");
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

p
{
	font-weight: 300;
	color: #111;
}

.inicio
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url("../images/presentacion.jpeg");
	background-size: cover;
}

.inicio .contenedor
{
	max-width: 900px;
	text-align: center;
}

.inicio .contenedor h2
{
	font-size: 5em;
	color: #fff;
}

.inicio .contenedor p
{
	font-size: 1.5em;
	color: #fff;
}

.boton
{
	font-size: 1em;
	color: #fff;
	background: #119281;
	display: inline-block;
	padding: 10px 30px;
	margin-top: 20px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
}

.boton:hover
{
	letter-spacing: 6px;
}

header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 10000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
}

header.sticky
{
	background: #fff;
	padding: 10px 100px;
	box-shadow: 0 5px 20px rgb(0, 0, 0, 0.05);
}

header .logo
{
	color: #fff;
	font-weight: 700;
	font-size: 3.5em;
	text-decoration: none;
}

header.sticky .logo
{
	color: #111
}

header .logo span
{
	color: #119281;
}

header .logo .fin
{
	color: #f38545;
}

header .menu
{
	position: relative;
	display: flex;
}

header .menu li
{
	list-style: none;
	margin-left: 30px;
	font-size: 1.2em;
}

header .menu li a
{
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}

header.sticky .menu li a
{
	color: #111;
}

header .menu li a:hover
{
	color: #119281;
}

section
{
	padding: 100px;
}

.fila
{
	margin-top: 40px;
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.fila .columna
{
	position: relative;
	width: 48%
}

.tituloDeSeccion
{
	color: #111;
	font-size: 2em;
	font-weight: 300;
}

.tituloDeSeccion span
{
	color: #119281;
	font-weight: 700;
	font-size: 1em;
}

.fila .columna .imgBx
{
	position: relative;
	width: 100%;
	min-height: 300px;
}

.fila .columna .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.title
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.menu .contenedor
{
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	margin-top: 40px;
}

.menu .contenedor .box
{
	width: 340px;
	margin: 20px;
	border: 15px solid #fff;
	box-shadow: 0 5px 35px rgb(0, 0, 0, 0.08)
}
	
.menu .contenedor .box .imgBx
{
	position: relative;
	width: 100%;
	height: 300px;
}

.menu .contenedor .box .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.menu .contenedor .box .text 
{
	padding: 15px 0 5px;
}

.menu .contenedor .box .text h3
{
	font-weight: 400;
	color: #111;
}

.expertos .contenedor
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 40px;
}

.expertos .contenedor .box
{
	width: 250px;
	margin: 15px;
}

.expertos .contenedor .box .imgBx
{
	position: relative;
	width: 100%;
	height: 300px;
}

.expertos .contenedor .box .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.expertos .contenedor .box .text
{
	padding: 15px 0 5px;
}

.expertos .contenedor .box .text h3
{
	font-weight: 400;
	color: #111;
}

.profesionales
{
	background: url(../images/profesionales.jpeg);
	background-size: cover;
}

.white .tituloDeSeccion,
.white p
{
	color: #fff
}

.profesionales .contenedor
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 40px;
}

.profesionales .contenedor .box
{
	width: 340px;					/*ANCHO*/
	margin: 20px;
	padding: 40px;					/*LARGO O RELLENO*/
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.profesionales .contenedor .box .imgBx
{
	position: relative;
	width: 200px;					/*ANCHO DE PERFIL*/
	height: 200px;					/*ALTO DE PERFIL*/
	margin-bottom: 20px;
	border-radius: 50%;					/*CIRCULO*/
	overflow: hidden;
}

.profesionales .contenedor .box .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profesionales .contenedor .box .text
{
	text-align: center;
}

.profesionales .contenedor .box .text p
{
	color: #666;
	font-style: italic;
}

.profesionales .contenedor .box .text h3
{
	margin-top: 20px;
	color: #111;
	font-size: 1em;
	color: #119281;
	font-weight: 600;
}

.contactos
{
	background: url(../images/bg3.jpg);
	background-size: cover;
}

.contactForm
{
	padding: 75px 50px;
	background: #fff;
	box-shadow: 0 15px 50px rgb(0, 0, 0, 0.01);
	max-width: 500px;
	margin-top: 50px;
}

.contactForm h3
{
	color: #111;
	font-size: 1.2em;
	margin-bottom: 20px;
	font-weight: 500;
}

.contactForm .inputBox
{
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea
{
	width: 100%;
	border: 1px solid #555;
	padding: 10px;
	color: #111;
	outline: none;
	font-size: 16px;
	font-weight: 300;
	resize: none;
}

.contactForm .inputBox input[type="submit"]
{
	font-size: 1em;
	color: #fff;
	background: #119281;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
	max-width: 100px;
	font-weight: 500;
	border: none;
	cursor: pointer;

}

.copyRightText
{
	padding: 8px 40px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	text-align: center;
}

.copyRightText p
{
	color: #119281;
}

@media (max-width: 991px)
{
	header, header.sticky
	{
		padding: 10px 20px;
	}

	header .menu
	{
		display: none;
	}

	header .menu.active
	{
		width: 100%;
		height: calc(100% - 68px);
		position: fixed;
		top: 68px;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background: #fff;
	}
	header .menu li 
	{
		margin-left: 0;
	}
	header .menu li a
	{
		color: #111;
		font-size: 1.6em;
	}
	





	.menuToggle
	{
		position: relative;
		width: 40px;
		height: 40px;
		background: url("../images/menu.png");
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;	
	}
	.menuToggle.active
	{
		
		background: url("../images/close.png");
		background-size: 25px;
		background-repeat: no-repeat;
		background-position: center;
	}
	header.sticky .menuToggle
	{
		filter: invert(1);
	}
	section
	{
		padding: 20px; 
	}
	.inicio .contenedor h2
	{
		font-size: 3em;
		color: #fff;
	}
	.fila
	{
		flex-direction: column;
	}
	.fila .columna
	{
		position: relative;
		width: 100%
	}
	.fila .columna .imgBx
	{
		height: 300px;
		margin-top: 20px;
	}
	.menu .contenedor
	{
		margin-top: 20px;
	}
	.menu .contenedor .box
	{
		margin: 10px;
	}
	.menu .contenedor .box .imgBx
	{
		height: 260px;
	}
	.title
	{
		text-align: center;
	}
	.tituloDeSeccion
	{
		font-size: 1.8em;
		line-height: 1.5em;
		margin-bottom: 15px;
		font-weight: 300;
	}
	.profesionales .contenedor .box
	{
		margin: 10px;
		padding: 20px;
	}
	.contactForm
	{
		padding: 35px 40px;
 		margin-top: 20px;
		margin-bottom: 30px;
	}
}

@media (max-width: 480px)
{
	.inicio .contenedor h2
	{
		font-size: 2.2em;
		color: #fff;
	}
}
