@import url("https://fonts.googleapis.com/css?family=Nunito");
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

p
{
	font-size: 1.3em;
	font-weight: 300;
	color: #111;
}

.inicio
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url("../imgHomeClientes/presentacion2.jpeg");
	background-size: cover;
}

.inicio .contenedor
{
	max-width: 900px;
	text-align: center;
}

.inicio .contenedor h2
{
	font-size: 5em;
	color: #fff;
}

.inicio .contenedor p
{
	font-size: 1.5em;
	color: #fff;
}

.boton
{
	font-size: 1.3em;
	color: #fff;
	background: #119281;
	display: inline-block;
	padding: 10px 30px;
	margin-top: 20px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
}

.boton:hover
{
	letter-spacing: 6px;
	text-decoration: none;
	color: white;
}

section
{
	padding: 70px;
}

.fila
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 30px;
}

.fila .columna
{
	position: relative;
	width: 48%
}

.tituloDeSeccion
{
	color: #111;
	font-size: 2em;
	font-weight: 300;
}

.tituloDeSeccion span
{
	color: #119281;
	font-weight: 700;
	font-size: 1em;
}

.fila .columna .imagen
{
	position: relative;
	width: 100%;
	min-height: 300px;
}

.fila .columna .imagen img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.5rem;
}


.title
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.menu .contenedor
{
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	margin-top: 40px;
}

.menu .contenedor .marco
{
	width: 340px;
	margin: 20px;
	border: 15px solid #fff;
	box-shadow: 0 5px 35px rgb(0, 0, 0, 0.08)
}
	
.menu .contenedor .marco .imagen
{
	position: relative;
	width: 100%;
	height: 300px;
}

.menu .contenedor .marco .imagen img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.menu .contenedor .marco .text 
{
	padding: 15px 0 5px;
}

.menu .contenedor .marco .text h3
{
	font-weight: 400;
	color: #111;
}

.catalogo .contenedor
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 40px;
}

.catalogo .contenedor .marco
{
	width: 300px;
	margin: 15px;
}

.catalogo .contenedor .marco .imagen
{
	position: relative;
	width: 100%;
	height: 300px;
}

.catalogo .contenedor .marco .imagen img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.catalogo .contenedor .marco .text
{
	padding: 1px 0 5px;
}

.catalogo .contenedor .marco .text .title .boton
{
	font-size: 1em;
	padding: 5px 10px;
	margin-top: 5px;
	letter-spacing: 2px;
	transition: 0.5s;
	background: rgb(223, 89, 0);
}

.catalogo .contenedor .marco .text .title .boton:hover
{
	letter-spacing: 4px;
	background: #119281;
}

.catalogo .contenedor .marco .text h3
{
	font-weight: 400;

	color: #111;
}

.profesionales
{
	background: url(../imgHomeClientes/perfiles.jpg);
	background-size: cover;
}

.tituloProfesionales .tituloDeSeccion,
.tituloProfesionales p
{	
	color: #fff;
}

.profesionales .contenedor
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 40px;
}

.profesionales .contenedor .marco
{
	width: 340px;					/*ANCHO*/
	margin: 20px;
	padding: 40px;					/*LARGO O RELLENO*/
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.profesionales .contenedor .marco .imagen
{
	position: relative;
	width: 200px;					/*ANCHO DE PERFIL*/
	height: 200px;					/*ALTO DE PERFIL*/
	margin-bottom: 20px;
	border-radius: 50%;					/*CIRCULO*/
	overflow: hidden;
}

.profesionales .contenedor .marco .imagen img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profesionales .contenedor .marco .text
{
	text-align: center;
}

.profesionales .contenedor .marco .text p
{
	color: #666;
	font-style: italic;
	text-align: left;
}

.profesionales .contenedor .marco .text h3
{
	margin-top: 20px;
	color: #111;
	font-size: 1em;
	color: #119281;
	font-weight: 600;
}

.galeriaDeFotos .contenedor
{
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	margin-top: 40px;
	margin: 80px;	
}

.carousel
{
	width: 1000px;
	margin: 20px;
	border: 15px solid #fff;
	box-shadow: 0 5px 35px rgb(0, 0, 0, 0.08);
	align-items: center;
}

.carousel p
{
	background-color: #fff;
	opacity: 0.7;
}


.contactos
{
	background: url(../imgHomeClientes/contactos.jpg);
	background-size: cover;
}

.contactos .title p
{
	position: relative;
	text-align: left;
	background-color: white;
	opacity: 0.8;
	width: 30%;
	height: 400px;	
}

.contactos p span
{
	color: #119281;
	font-size: 1.3em;
	margin-left: 100px;
}


.flotante
{
    display:scroll;
    position:fixed;
    bottom:100px;
    right:40px;
}

.flotante span
{
	font-size: 3rem;
	position: relative;  
	color:  #119281;
	text-decoration: none;
}

.flotante span:hover
{	
	text-decoration: none;
	color: rgb(223, 89, 0);
}

@media (max-width: 991px)
{

	section
	{
		padding: 20px; 
	}
	.inicio .contenedor h2
	{
		font-size: 3em;
		color: #fff;
	}
	.fila
	{
		flex-direction: column;
	}
	.fila .columna
	{
		position: relative;
		width: 100%
	}
	.fila .columna .imagen
	{
		height: 300px;
		margin-top: 20px;
	}

	.carousel
	{
		width: 1900px;
		margin: 20px;
		align-items: center;
	}



	.galeria .contenedor
	{
		margin-top: 20px;
	}
	.galeria .contenedor .marco
	{
		margin: 10px;
	}
	.galeria .contenedor .marco .imagen
	{
		height: 260px;
	}

	.title
	{
		text-align: center;
	}
	.tituloDeSeccion
	{
		font-size: 1.8em;
		line-height: 1.5em;
		margin-bottom: 15px;
		font-weight: 300;
	}
	.profesionales .contenedor .marco
	{
		margin: 10px;
		padding: 20px;
	}
	.contactos .title p
	{
		position: relative;
		text-align: center;
		background-color: white;
		opacity: 0.8;
		width: 70%;
		height: 400px;	
	}
	.contactos p span
	{
		color: #119281;
		font-size: 1.3em;
		margin-left: 0px;
	}
}

@media (max-width: 991px)
{
	.inicio .contenedor h2
	{
		font-size: 2.2em;
		color: #fff;
	}
}
