/*MODIFICADO*/
	body
	{
		background-color: white;
	}
	h1
	{
		text-align: center;
	}
/*FIN DE MODIFICADO*/




/*FONDO DE FACTURAS*/
.mostarFacturas{
	padding-top: 0px;
	overflow-y: scroll;
	height: 500px;
	background-image: url('/imagenes/fondo3.jpg');
	background-size: cover;
}
