
h1
{
	text-align: center;
}
.card-header
{
	background: linear-gradient(to left,#41f497,#41dff4);
}
.card-foot
{
	display: flex;
	justify-content: center;
	align-items: center;
}
.card-foot a{
	margin-bottom: 5px;
	margin-top: 5px;
	background: linear-gradient(to left,#41f497,#41dff4);
}

button
{
	font-weight: bold;
}

.btnAgregar:hover
{
	background: #95EE95;
	cursor: pointer;
}

button:hover
{
	background: linear-gradient(to left,red,yellow);
	cursor: pointer;
}

input, .btnAgregar
{
	box-shadow: 0px 0px 8px lightgreen;
}

#carrito
{
	visibility: hidden;
}

table
{
	margin: auto;
	text-align: center;
}
form
{
	margin: auto;
	text-align: center;
}
td
{
	padding-left: 5px;
	padding-right: 5px;
	border-top: solid;
	border-color: brown;
}
#tdProcesar{
	padding-left: 5px;
	padding-right: 5px;
	border-top: none;
	border-color: none;
	text-align: left;
}
#txtTotal{
	margin-left:  15px;
	font-weight: bold;
}
#tdArticulos{
}
.tooltiptext {
  display: none;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
	position: absolute;
 z-index: 1;
 top: 63%;
 left: 75%;
 margin-left: -60px;
}
.tooltiptext::after {
	content: "";
 position: absolute;
 top: 50%;
 right: 100%;
 margin-top: -5px;
 border-width: 5px;
 border-style: solid;
 border-color: transparent black transparent transparent;
}
#borrarCarrito:hover .tooltiptext{
display: inline-block;
}
/*#tdDescripcion
{
	border-right: dashed;
	border-left: dashed;
	border-color: brown;
}*
