@import url("https://fonts.googleapis.com/css?family=Nunito");
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

p
{
	font-size: 1.3em;
	font-weight: 300;
	color: #111;
}

.noDisponible
{
	text-align: center;
	font-style: italic;
}

.title
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.tituloDeSeccion
{
	color: #111;
	font-size: 2em;
	font-weight: 300;
}

.tituloDeSeccion span
{
	color: #119281;
	font-weight: 700;
	font-size: 1em;
}

h5
{
    font-weight: bold;
    text-align: center;
}

h5 .vida
{
    color: #119281;
}

h5 .lab
{
    color: rgb(223, 89, 0);
}

.galeria .contenedor
{
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	margin-top: 40px;
}

.galeria .contenedor .marco
{
	width: 500px;
	margin: 20px;
	border: 15px solid #fff;
	box-shadow: 0 5px 35px rgb(0, 0, 0, 0.08)
}
	
.galeria .contenedor .marco .imagen
{
	position: relative;
	width: 100%;
	height: 300px;
}

.galeria .contenedor .marco .imagen img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.galeria .contenedor .marco .imagen video
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.galeria .contenedor .marco .text 
{
	padding: 15px 0 5px;
}

.galeria .contenedor .marco .text h3
{
	font-weight: 400;
	color: #111;
}


@media (max-width: 991px)
{
	.galeria .contenedor
	{
		margin-top: 20px;
	}
	.galeria .contenedor .marco
	{
		margin: 10px;
	}
	.galeria .contenedor .marco .imagen
	{
		height: 260px;
	}

	.title
	{
		text-align: center;
	}
}