
.btnActivar, .btnInactivar, .btnEditar, .btnEliminar, .btnCitas, .btnVerCita, .btnPerfil, .btnImagen
{
  width:200px;
}
#editarAspecto
{
  width:250px;
}
.titulo
{
  background: rgba(255, 255, 255, 0.822);
  border-radius: 10rem;
  border-color: black;
}

.btnMenu
{
  font-weight: bold;
}

.navbar
{
  background-color: rgba(255, 255, 255, 0.911);
}


.btnActivar span,
.btnInactivar span,
.btnAgregar span, 
.btnEditar span, 
.btnEliminar span, 
.btnAgregarCita span,
.btnCitas span, 
.btnEnviar span,
.btnEnvio span,
.btnMenu span, 
.btnEnCancelada span,
.btnEnConfirmada span,
.btnEnEspera span,
.btnCompras
{
  margin-right: 10px;
}
