#editarAspecto
{
  width:250px;
}


.btnMenu span
{
  margin-right: 5px;
}

.btnPerfil, .btnEditar, .btnEliminar, .btnInactivar, .btnActivar, .btnImagen, .btnAgregarCita,
.btnCitas, .btnEnCancelada, .btnEnConfirmada, .btnEnEspera, .btnVer
{  
  font-size: 1.5rem;
  margin-top: 20px;
  margin-left: 10px;
}

.btnAgregarMultimedia, .btnVerMultimedia
{
  width: 200px;
}

.btnAgregarImagenes
{
  width: 285px;
}

