.logo
{
	color: #fff;
	font-weight: 700;
	font-size: 2.1em;
	text-decoration: none;
}

.logo span
{	
	color: #119281
}

.logo .fin
{	
	color: rgb(223, 89, 0);
	margin-right: 10px;
}

.mas
{
	color: rgb(223, 89, 0);
	font-size: 1.5rem;
	font-weight: bold;
}

li
{
	
	list-style: none;
	margin-left: 30px;
	font-size: 1.5em;
	display: flex;
	align-items: center;
}

li a
{	
	text-decoration: none;
	color: #119281;
}

li a:hover
{
	color: black;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.6s;
}

.navbar-light .navbar-nav .nav-link
{
	color: #119281;
}

.dropdown-item
{
	color: #119281;	
	background-color: rgba(253, 249, 249, 0);
}

.dropdown-menu
{
	background-color: rgba(253, 249, 249, 0);
}

.navbar
{
	padding: 1rem 0rem;
}

