body
{
  background: #15b3bb9a;
}
.card-header
{
  background: rgba(255, 115, 0, 0.788);
}
th
{
  padding-right:40px;

}  
#datos
{
  margin-left:110px;
}
.img
{
  justify-content: center;
  align-items: center;
}
.imagen{
  float: left;
}
.datosPersonales{
  float: right;
}
label, h3
{
  font-weight: bold;
}
#imagenPerfil, #perfil{
  margin-left:35px;
  height:120px;
  width: 120px;
  border-radius:150px;
  padding-bottom:5px;
  text-align: center;
}
.btnEditarCliente
{
  margin-left:150px;
}
.tarjetaDeEspecialista, .tituloEspecialistas
{
  border-radius:150px;
  box-shadow: 5px 8px 3px rgba(0, 0, 0, 0.1);
}

.textarea
{ 
  background: transparent;
  color: transparent;
  color: white;
}
